<html>
   <body>
      
      <form action = "https://enigmatic-tor-28854.herokuapp.com/process_get" method = "GET">
         Username: <input type = "text" name = "username">  <br>
         Password: <input type = "text" name = "password">
         <input type = "submit" value = "Submit">
      </form>
      
   </body>
</html>