<html>
   <body>
      
      <form action = "https://agile-eyrie-30895.herokuapp.com/create_user" method = "POST">
         First Name: <input type = "text" name = "firstName">  <br>
         Last Name: <input type = "text" name = "lastName"> <br>
         Email: <input type = "text" name = "email">
         <input type = "submit" value = "Submit">
      </form>
      
   </body>
</html>